


<div class="navbar1">
    <h1 class="brand1">
        
        <span>EREN</span> Vinç
        <a href="tel:05070482598"><i class="fa fa-phone" style="font-size:48px;color:red"></i></a>
    </h1>
    <nav>
        <ul>
            <li><a href="{% url 'home' %}">İşlerimiz</a></li>
            <li><a href="{% url 'makineler' %}">Makinelerimiz</a></li>
            <li><a href="{% url 'hakkimizda' %}">Hakkımızda</a></li>
            <li><a href="{% url 'iletisim' %}">İletişim</a></li>
        </ul>
    </nav>
</div>



